* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --accent: #B8DB80;
  --accent-2: #FFE4EF;
  --accent-3: #fffca3;

}
html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  color: rgb(33, 33, 33);
  background: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: 'Courier New', Courier, monospace;
}
